<div class="load" id="loader">
  <div class="one"></div>
  <div class="two"></div>
  <div class="three"></div>
</div>
<div class="admin-logs-container">
  <div class="profile-heading">All Logs</div>
  <%if(logs.length == 0){ %>
  <h1 style="text-align: center">No Logs Yet</h1>
  <% }else {%>
  <div class="searchbar">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 21.078 21.084"
      class="svelte-1p6zj2z"
    >
      <path
        id="Icon_ionic-ios-search"
        data-name="Icon ionic-ios-search"
        d="M25.331,24.051l-5.862-5.917A8.354,8.354,0,1,0,18.2,19.418L24.025,25.3a.9.9,0,0,0,1.273.033A.908.908,0,0,0,25.331,24.051ZM12.9,19.489a6.6,6.6,0,1,1,4.666-1.932A6.556,6.556,0,0,1,12.9,19.489Z"
        transform="translate(-4.5 -4.493)"
        fill="#fff"
      ></path>
    </svg>
    <input
      type="text"
      placeholder="Search"
      id="searchBar"
      onkeyup="search_rows()"
    />
  </div>
  <table class="all-logs">
    <thead>
      <tr>
        <td>#</td>
        <td>Level</td>
        <td>Username</td>
        <td>Answer</td>
        <td>Time</td>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i < logs.length; i++) { %>
      <tr class="row">
        <td><%= i+1 %></td>
        <td><%= logs[i].level %></td>
        <td><%= logs[i].user %></td>
        <td><%= logs[i].answerEntered %></td>
        <td><%= logs[i].updatedTimestamp %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</div>
<script>
  window.addEventListener("load", () => {
    const loader = document.getElementById("loader");
    loader.style.opacity = "0";
    loader.style.visibility = "hidden";
  });
  function search_rows() {
    let input = document.getElementById("searchBar").value;
    input = input.toLowerCase();
    const rows = document.getElementsByClassName("row");
    for (row of rows) {
      if (
        row.children[2].innerText.toLowerCase().includes(input) ||
        row.children[3].innerText.toLowerCase().includes(input)
      ) {
        row.style.display = "table-row";
      } else {
        row.style.display = "none";
      }
    }
  }
</script>
